.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}